@import '../../sass/mixins/media.scss';

main {
    height: 1225px;

    @include phone {
        height: 1100px;
    }

    .carousel-container {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .map-container {
        height: inherit;
        display: flex;
        position: relative;

        &__map {
            height: inherit;
            width: 100%;

            &--pointer {
                > div {
                    > div {
                        cursor: pointer !important;
                    }
                }
            }
        }

        &__overlay {
            min-height: 100px;
            width: 250px;
            position: absolute;
            top: 30px;
            right: 50px;
        }
    }
}
