/* COLORS */
$color-primary: #5f7c8a;
$color-primary-light: #8dabba;
$color-primary-dark: #33505d;

$color-secondary: #f0f0f0;
$color-secondary-light: #ffffff;
$color-secondary-dark: #aeaeae;

$color-text-on-primary: #000000;
$color-text-on-secondary: #000000;

$color-gray: #c8c8c8;

/* FONTS */
$font-default: Roboto-Regular, "Segoe UI";
