@import '../../../../sass/utilities/variables';

.filters {
    --filter-pading: 2rem;

    height: calc(100% - calc(var(--filter-pading) * 2));
    background-color: $color-gray;
    padding: var(--filter-pading);

    &__filter {
        &:not(:first-child) {
            margin-top: 1rem;
        }
    }

    &__elevation {
        .MuiSlider-markLabel {
            font-size: 0.85rem;
        }
    }

    &__width {
        .MuiSlider-markLabel {
            font-size: 0.75rem;
        }
    }
}